<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjh.mapper.LoveMusicMapper">

<select id="findLoveMusicByMusicIdAndUserId" resultType="music">
    select * from lovemusic where music_id = #{musicId} and user_id = #{userId}
</select>
<insert id="insertLoveMusic" parameterType="lovemusic">
    insert  into  lovemusic values (null,#{userId},#{musicId})
</insert>
<resultMap id="BaseMapper" type="music">
    <id column="id" property="id"></id>
    <result column="title" property="title"></result>
    <result column="singer" property="singer"></result>
    <result column="time" property="time"></result>
    <result column="url" property="url"></result>
    <result column="userid" property="userid"></result>
</resultMap>
<select id="findLoveMusicByUserId" resultMap="BaseMapper">
select * from music m
right join lovemusic lm
on(m.id = lm.music_id)
where userid = #{userId}
</select>

<select id="findLoveMusicBykeyAndUID" resultMap="BaseMapper">
select * from music m
right join lovemusic lm
on(m.id = lm.music_id)
where userid = #{userId} and title = #{musicName}
</select>
<delete id="deleteLoveMusic">
    delete  from  lovemusic where music_id = #{musicId} and user_id = #{userId}
</delete>
<delete id="deleteLoveMusicById">
    delete  from  lovemusic where music_id = #{musicId}
</delete>
</mapper>