<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjh.mapper.UserMapper">
    <insert id="insert" parameterType="user">
    insert  into user values (null ,#{username},#{password},1000,0
    ,0)
</insert>
    <select id="selectByUsername" resultType="user" >
    select * from user where username = #{username}
</select>
<update id="userWin">
    update user set total_count = total_count + 1,win_count = win_count + 1 ,score = score + 30
    where userID = #{winUserId}
</update>
<update id="userLose">
       update user set total_count = total_count + 1,score = score - 30
    where userID = #{loseUserId}
</update>
</mapper>
